---
layout: default
title: Michał Orman
description: Michał Orman - Prywatna strona i blog dotyczący technik programowania
keywords: Michał Michal Orman Blog Java J2EE EE Ruby Rails Inżynieria Oprogramowania Design Patterns Object Oriented Programming Analysis
navbar_pos: 1
---
<h1 id="recent">Najnowsze wpisy <a id="feed_link" href="/atom.xml"><img src="/images/feed.png" alt="Subskrybuj" /></a></h1>
<ul id="recent-posts-list">{% for post in site.posts limit: 15 %}<li><span class="post-date">{{ post.date | date_to_string }}</span> &middot; <a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}</ul>
<div id="recent-posts">
{% for page in site.posts limit:5 %}{% assign body = page.content %}{% include post.html %}{% endfor %}
</div>
