---
layout: default
title: Michał Orman - Prywatny Blog IT
description: Prywatna strona i blog Michała Ormana dotycząca inżynierii i technik programowania, zarządzania projektami informatycznymi oraz nowinek i ciekawostek ze świata IT.
keywords: Michał Michal Orman Blog Java J2EE EE Ruby Rails Inżynieria Oprogramowania Design Patterns Object Oriented Programming Analysis
navbar_pos: 1
---
<div id="recent-posts">
{% for page in site.posts limit:5 %}{% assign body = page.content %}{% include post.html %}{% endfor %}
</div>
