<ul>
  <li><a href="/blog/android/" title="Zobacz wszystkie posty w kategorii android">android ({{ site.categories.android.size }})</a></li>
  <li><a href="/blog/architektura/" title="Zobacz wszystkie posty w kategorii architektura">architektura ({{ site.categories.architektura.size }})</a></li>
  <li><a href="/blog/certyfikaty/" title="Zobacz wszystkie posty w kategorii certyfikaty">certyfikaty ({{ site.categories.certyfikaty.size }})</a></li>
  <li><a href="/blog/general/" title="Zobacz wszystkie posty w kategorii general">general ({{ site.categories.general.size }})</a></li>
  <li><a href="/blog/javaee/" title="Zobacz wszystkie posty w kategorii javaee">javaee ({{ site.categories.javaee.size }})</a></li>
  <li><a href="/blog/jboss/" title="Zobacz wszystkie posty w kategorii jboss">jboss ({{ site.categories.jboss.size }})</a></li>
  <li><a href="/blog/oop/" title="Zobacz wszystkie posty w kategorii oop">oop ({{ site.categories.oop.size }})</a></li>
  <li><a href="/blog/patterns/" title="Zobacz wszystkie posty w kategorii patterns">patterns ({{ site.categories.patterns.size }})</a></li>
  <li><a href="/blog/prince2/" title="Zobacz wszystkie posty w kategorii prince2">prince2 ({{ site.categories.prince2.size }})</a></li>
  <li><a href="/blog/ruby/" title="Zobacz wszystkie posty w kategorii ruby">ruby ({{ site.categories.ruby.size }})</a></li>
  <li><a href="/blog/scrum/" title="Zobacz wszystkie posty w kategorii scrum">scrum ({{ site.categories.scrum.size }})</a></li>
  <li><a href="/blog/seam/" title="Zobacz wszystkie posty w kategorii seam">seam ({{ site.categories.seam.size }})</a></li>
  <li><a href="/blog/security/" title="Zobacz wszystkie posty w kategorii security">security ({{ site.categories.security.size }})</a></li>
  <li><a href="/blog/seo/" title="Zobacz wszystkie posty w kategorii seo">seo ({{ site.categories.seo.size }})</a></li>
  <li><a href="/blog/tools/" title="Zobacz wszystkie posty w kategorii tools">tools ({{ site.categories.tools.size }})</a></li>
  <li><a href="/blog/web/" title="Zobacz wszystkie posty w kategorii web">web ({{ site.categories.web.size }})</a></li>
</ul>
