<ul>
  <li><a href="/blog/android/">android ({{ site.categories.android.size }})</a></li>
  <li><a href="/blog/certyfikaty/">certyfikaty ({{ site.categories.certyfikaty.size }})</a></li>
  <li><a href="/blog/general/">general ({{ site.categories.general.size }})</a></li>
  <li><a href="/blog/javaee/">javaee ({{ site.categories.javaee.size }})</a></li>
  <li><a href="/blog/jboss/">jboss ({{ site.categories.jboss.size }})</a></li>
  <li><a href="/blog/oop/">oop ({{ site.categories.oop.size }})</a></li>
  <li><a href="/blog/ruby/">ruby ({{ site.categories.ruby.size }})</a></li>
  <li><a href="/blog/scrum/">scrum ({{ site.categories.scrum.size }})</a></li>
  <li><a href="/blog/seam/">seam ({{ site.categories.seam.size }})</a></li>
  <li><a href="/blog/security/">security ({{ site.categories.security.size }})</a></li>
  <li><a href="/blog/seo/">seo ({{ site.categories.seo.size }})</a></li>
  <li><a href="/blog/tools/">tools ({{ site.categories.tools.size }})</a></li>
</ul>
