<div class="navbar">
    <a href="/blog/" title="Przejdź do strony głównej">home</a>
    <a href="/blog/o-blogu/" title="Przejdź do informacji o blogu">o blogu</a>
    <a href="/blog/o-mnie/" title="Przejdź do informacji o mnie">o mnie</a>
    <a href="/blog/o-mnie/neosoft/" title="Przejdź do informacji o Neosoft">neosoft</a>
    <a href="/blog/o-mnie/moje-projekty/" title="Przejdź do opisu moich projektów">projekty</a>
    <a href="/prince2/" title="Opis procesów metodyki PRINCE2">prince2</a>
</div>