<ul id="navbar">
    <li>
        <a href="/blog/" title="Przejdź do strony głównej">home</a>
    </li>
    <li>
        <a href="/blog/o-blogu/" title="Przejdź do informacji o blogu">o blogu</a>
    </li>
    <li>
        <a href="/blog/o-mnie/" title="Przejdź do informacji o mnie">o mnie</a>
        <ul>
            <li>
                <a href="/blog/o-mnie/neosoft/" title="Przejdź do informacji o Neosoft">neosoft</a>
            </li>
            <li>
                <a href="/blog/o-mnie/moje-projekty/" title="Przejdź do opisu moich projektów">projekty</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/prince2/" title="Opis procesów metodyki PRINCE2">strony</a>
        <ul>
            <li>
                <a href="/prince2/" title="Opis procesów metodyki PRINCE2">prince2</a>
            </li>
        </ul>
    </li>
</ul>