body {
	font: 16px Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	color: #555;
}

a, a:visited {
	color: #125AA7;
}

a:hover {
	color: #0b9df0;
}

p {
	margin-top: 0;
}

pre {
	background: #eee;
	-moz-border-radius: 0.3em;
	padding: 0.5em 0.7em;
}

#header {
	background: #2C2A25;
	height: 3.8em;
	padding: 2em 6em 1.5em 6em;
	color: #ddd;
}

#header a, #header a:active, #header a:hover, #header a:visited {
	color: white;
	text-decoration: none;
}

#header h1, #header p {
	margin: 0;
}

#navbar {
	background: #aaa;
	padding: 0.2em 6em;
	color: #555;
	font-weight: bold;
}

#navbar a {
	text-decoration: none;
}

#navbar a, #navbar a:visited {
	color: #555;
}

#navbar a:hover {
	color: #777;
}

#content {
	padding: 0 6em;
}

#footer {
	padding: 1em 6em;
	background: #2C2A25;
	color: #ddd;
}
