.k, .kd, .kt, .kn {
	font-weight: bold;
	color: #558000;
}

.o {
	color: #558000;
}

.s, .s1, .s2, .ss, .sh {
	color: #669900;
}

.c, .c1 {
	font-style: italic;
	color: #999;
}

.nd {
	color: #777;
}

.nt {
	font-weight: bold;
}

