.k, .kd, .kt, .kn, .nb, .nt {
    color: #cdb178;
}

.nc, .no {
    color: #927d94;
}

.o, .cp, .p {
    color: #b98b60;
}

.s, .s1, .s2, .sh, .sr {
    color: #8c9967;
}

.ss {
    color: #DFD999;
}

.si {
    color: #B1CF81;
}

.vi {
    color: #7587A6;
}

.c, .c1, .x {
    color: #5d575d;
    font-style: italic;
}

.go {
    color: #5d575d;
}

.mi {
    color: #9d5c49;
}